<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935942585475-lshnaetkmi5hfqume5edbhv9tac8u0k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935942585475-lshnaetkmi5hfqume5edbhv9tac8u0k2</string>
	<key>API_KEY</key>
	<string>AIzaSyBsT7g2k6F_Nk-cqyrWkb-nZ6Ba6G7Kaog</string>
	<key>GCM_SENDER_ID</key>
	<string>935942585475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enesaydogdu.flutterFirebaseDersleri</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-dersler-c7357</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-dersler-c7357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935942585475:ios:e03353778766d1809fefb6</string>
</dict>
</plist>